@model ConfirmadosViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="Search"></label>
        <input asp-for="Search" />
        <input type="submit" class="btn btn-outline-primary" />
    </div>
</form>

@foreach (var confirmacao in Model.Confirmados)
{
    var cssClass = !string.IsNullOrWhiteSpace(Model.Search) && confirmacao.Nome.Contains(Model.Search, StringComparison.InvariantCultureIgnoreCase) ? "text-info" : "";
    <div class="@cssClass">@confirmacao.Nome</div>
}