@model ConfirmadosViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="Search"></label>
        <input asp-for="Search" />
        <input type="submit" class="btn btn-outline-primary" />
    </div>
</form>

@foreach (var confirmacao in Model.Confirmados)
{
    var cssClass = !string.IsNullOrWhiteSpace(Model.Search) && confirmacao.Nome.Contains(Model.Search, StringComparison.InvariantCultureIgnoreCase) ? "text-info" : "";
    var cssConfirmacao = confirmacao.Confirmado == true ? "text-primary" : "text-danger";

    <div>
        <span class="@cssClass @cssConfirmacao">@confirmacao.Nome</span>
        <a asp-action="Edicao" asp-controller="Home" asp-route-Id="@confirmacao.Id">Editar</a>
    </div>
}