@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Vamos ter uma festa, por favor confirme sua presença clicando abaixo.</p>
    <div><a asp-action="Confirmar">Confirme Sua Presença!</a></div>
    <div><a asp-action="Confirmados">Veja quem já confirmou a presença</a></div>
    <div><a asp-action="NumeroDeConvidados">Número de Convidados</a></div>
</div>


